@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Trispace:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#index-body {
    font-family: 'Trispace', sans-serif;
    font-weight: 300;
    background: linear-gradient(to right, #1b0100, #04070b);
    margin: 0 auto;
}

/* heading and logo*/


h1 {
    text-transform: uppercase;
    color: white;
}

#logo {
    float: left;
    margin: 0 auto;
}


/* menu*/

ul {
    float: right;
    list-style: none;
    color: white;
    font-weight: bold;

}

li {
    float: left;
    margin-right: 30px;
    padding-top: 10px;

}

li>a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.border:hover {
    border-bottom: 1px solid white;
}


/* main image and cover text */

#main-image {
    height: 550px;
    width: 100%;
    background: url('../images/universelogo.jpg') no-repeat top center;
}

#cover-text {
    color: black;
}

#main-text {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;


    padding-left: 10px;


    right: 150px;
    top: 270px;

    position: absolute;
}

/* main pictures and text of stars*/

#pistol-container {
    background: url('../images/pistol-star.webp') no-repeat center;
    height: 400px;
    width: 400px;
    margin: 20px;
    background-size: cover;
}

#antares-container {
    background: url('../images/antares.jpg') no-repeat center;
    height: 400px;
    width: 400px;
    margin: 20px;
    background-size: cover;
}

#sirius-container {
    background: url('../images/sirius.jpg') no-repeat center;
    height: 400px;
    width: 400px;
    margin: 20px;
    background-size: cover;
}

#alpha-container {
    background: url(../images/alpha.webp) no-repeat center;
    height: 400px;
    width: 400px;
    margin: 20px;
    background-size: cover;

}
/* Star pictures and hover text*/

#stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-family: 'Trispace', sans-serif;
}

.star-container {
    position: relative;
    margin: 10px;
  }


.star-names {
    color: white;
    font-family: 'Roboto' sans-serif;
    position: relative;
    top: 5px;
    font-size: x-large;
}

  
  .star-info {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .star-container:hover .star-info {
    opacity: 1;
  }

  /*footer with social medial links*/

  footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center  
  }
  
  .social-networks {
      text-align: center;
  
  
  }
  
  .social-networks > li {
      display: inline-block;
      
  }
  
  .social-networks i {
      font-size: 160%;
      margin: 5%, 6%;
      padding: 100px;
      color: #9e90b8;
  }

  /*About us body*/

  #about-us {
    font-family: 'Trispace', sans-serif;
    font-weight: 300;
    background-image: url('../images/star-background.jpg');
    margin: 0 auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

#about-us h2 {
    margin-top: 200px;
  }
  
  #about-us p {
    margin-top: 100px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

section p {
    color: white;
}
  
