@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Trispace:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Trispace', sans-serif;
    font-weight: 300;
    background: linear-gradient(to right, #1b0100, #04070b);
    margin: 0 auto;
}

/* heading and logo*/


h1 {
    text-transform: uppercase;
    color: white;
}

#logo {
    float: left;
    margin: 0 auto;
}


/* menu*/

ul {
    float: right;
    list-style: none;
    color: white;
    font-weight: bold;

}

li {
    float: left;
    margin-right: 30px;
    padding-top: 10px;

}

li>a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

li>a:hover {
    border-bottom: 1px solid white;
}


/* main image and cover text */

#main-image {
    height: 550px;
    width: 100%;
    background: url('images/universelogo.jpg') no-repeat top center;
}

#cover-text {
    color: black;
}

#main-text {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;


    padding-left: 10px;


    right: 150px;
    top: 270px;

    position: absolute;
}

/* main pictures and text of stars*/

#pistol-container {
    background: url('images/pistol-star.webp') no-repeat center;
    height: 400px;
    width: 400px;
    margin: 20px;
    background-size: cover;
}

#antares-container {
    background: url('images/antares.jpg') no-repeat center;
    height: 400px;
    width: 400px;
    margin: 20px;
    background-size: cover;
}

#sirius-container {
    background: url('images/sirius.jpg') no-repeat center;
    height: 400px;
    width: 400px;
    margin: 20px;
    background-size: cover;
}

#alpha-container {
    background: url(images/alpha.webp) no-repeat center;
    height: 400px;
    width: 400px;
    margin: 20px;
    background-size: cover;
}
    

#stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section h2 {
         display: flex;
         justify-content: center;
         margin-top: 20px;
         color: white;
         font-family: 'Trispace', sans-serif;
}